---
const { url } = Astro.props;
const replacedUrl = url.replace(/https?:\/\/x\.com\//, "https://twitter.com\/");
---

<blockquote class="twitter-tweet">
  <a href={replacedUrl}>{replacedUrl}</a>
</blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"
></script>
